.homeContainer {
  display: flex;
  align-items: center;
  height: 340px;
  background-color: #232328;
  color: #fff;
  padding: 0 80px;

  .mySelf {
    margin-right: 150px;

    .aboutMeButton {
      text-align: center;
      width: 100px;
      border: none;
      padding: 8px 18px;
      font-size: 14px;
      border-radius: 2px;
      background-color: #1E9FFF;
      margin-top: 20px;
      user-select: none;
    }
  }
  .relativedLink {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
  }
  .concatMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}