.hotPagesContainer {
  padding: 40px 130px;
  h1 {
    position: relative;
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: 500;
  }
  h1::after {
    position: absolute;
    width: 50px;
    height: 2px;
    content: "";
    left: 50%;
    margin-left: -25px;
    bottom: -4px;
    background: #00c2ff;
  }
  .titleDesc {
    color: #888;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
  }
  .contents {
    display: flex;

    .contentItem {
      margin: 0 10px;
      flex: 1;
      overflow: hidden;

      .imgContainer{
        position: relative;
        width: 100%;
        height: 244px;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .imgMask {
          position: absolute;
          width: 100%;
          height: 0;
          // background-color: transparent;
          background-color: rgba(255,255,255,.51);
          transition: height 0.4s;

          .copyIcon {
            display: none;
            position: absolute;
            left: 50%; 
            top: 50%;
            transform: translate(-50%, -50%);  
          }
        }
      }

      .imgContainer:hover {
        transform: scale(1.1);
      }
      .imgContainer:hover .imgMask {
        height: 100%;
        // background-color: rgba(255,255,255,.51);
      }
      .imgContainer:hover .imgMask .copyIcon {
        display: block;
      }

      .itemInfo {
        position: relative;
        height: 220px;
        padding: 30px 15px;
        background-color: #FAF9F9;

        .itemName {
          color: #333;
          font-size: 16px;
          font-weight: 400;
        }
        .itemDate {
          color: #bbb;
          font-size: 14px;
          font-family: "Helvetica Neue";
        }
        p {
          color: #999;
          font-size: 16px;
          overflow:hidden; 
          text-overflow:ellipsis;
          display:-webkit-box; 
          -webkit-box-orient:vertical;
          -webkit-line-clamp:2; 
        }
        .readMore {
          position: absolute;
          bottom: 25px;
          color: #29b6f6;
          font-size: 16px;
        }
      }
    }
  }
}


// .sweepToBottom {
//   display: flex;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   -webkit-transition-property: color;
//   transition-property: color;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
// }
// .sweepToBottom:before {
//   content: "444s";
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: #2098D1;
//   -webkit-transform: scaleY(0);
//   transform: scaleY(0);
//   -webkit-transform-origin: 50% 0;
//   transform-origin: 50% 0;
//   -webkit-transition-property: transform;
//   transition-property: transform;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }
// .sweepToBottom:hover, .sweepToBottom:focus, .sweepToBottom:active {
//   color: white;
// }
// .sweepToBottom:hover:before, .sweepToBottom:focus:before, .sweepToBottom:active:before {
//   -webkit-transform: scaleY(1);
//   transform: scaleY(1);
// }